venv/
.venv/
__pycache__/
*.pyc
.git/
.gitignore
data/raw/
data/processed/
data/vectorstore/
ingestion/pubmed/raw/
ingestion/pubmed/processed/
ingestion/guidelines/raw_pdfs/
ingestion/guidelines/processed/
notebooks/
.env
*.md
frontend/
infra/
tests/
